{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{this}}</div>
    {{/each}}
{{/if}}

<form method="post" action="/lists/{{this.id}}" name="list_name"  id="list">
    <div class="row">
        <div class="col-md-1 form-group">
            <span class="badge bg-success rounded-pill"> {{this.id}}</span>
        </div>
        <div class="col-md-8 form-group">
            <input class="form-control" name="list_name" value="{{this.name}}">
        </div>
        <div class="col-md-3">
            <button value="UPDATE" onclick="updateList(this); return false" class="btn btn-success" title="UPDATE LIST">
                <i class="fa-solid fa-pen-nib"></i>
            </button>

            <input type="hidden" name="_method"  id="method"  value="DELETE">
            <button value="DELETE" onclick="updateList(this); return false" class="btn btn-danger"  title="DELETE LIST">
                <i class="fa-solid fa-trash-can"></i>
            </button>

        </div>
    </div>
</form>

<script>
    function updateList(btn) {
        const method = document.getElementById('method');
        const form = document.getElementById('list');
        btn.value === 'DELETE' ? method.value = 'DELETE': method.value = 'PATCH';
        form.submit();
    }
</script>